<!DOCTYPE html>
<html>

<head>
  <title>DeliFood</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#DA291C"/>
  <meta name="description" content="Find restaurants that suit you!" />
  
  <link rel="manifest" href="./app.webmanifest" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./DeliFood.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
</head>

<body>
  <header>
    <button id="skip-to-content" tabindex="1" class="skip-to-content" href="#content">
      Skip To Content
    </button>
    <div class="container">
      <h1><a href="/">DeliFood</a></h1>
      <button class="menu" aria-label="Toggle Menu">
        ☰
      </button>      
      <div class="navbar">
        <a href="#">Home</a>
        <a href="#/favorite">Favorite</a>
        <a href="https://github.com/daniram27">About Us</a>
      </div>
    </div>
  </header>

  <main>
    <div id="content">
      <div class="restaurant-container"></div>
    </div>
  </main>
  <footer>
    <p>©2023 - DeliFood</p>
  </footer>
</body>

</html>